* {
    text-decoration:none;
    font-family: 'Plus Jakarta Sans';
    margin:0;
    padding:0;
}
body {
    margin:0;
    padding:0;
    background-image:url("../img/iris_bg.png");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.UnderlineButtons:hover {
    text-decoration:underline;

}

h1 {
    font-size:6rem;
    background:linear-gradient(#C188CD,#909EF9);
    background-clip:text;
    color:transparent;
    text-shadow: 0 0 20px #c379dbb1;
}

h3 {
    font-weight:200;
    background:linear-gradient(#C188CD,#909EF9);
    background-clip:text;
    color:transparent;
    text-shadow: 0 0 20px #c379dbb1;
    margin:0;
}

nav {
    position:fixed;
    background-color:#434281;
    width:100%;
    border:solid 1px #8061DF;
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:4rem;
    margin:0;
    padding:0px 30px;
    box-sizing: border-box;
    
}

nav ul {
    display:flex;
    width:100%;
    gap:10px;
    justify-content:end;
    list-style-type: none; 
    height:fit-content;
    align-items:center;
    margin:0;
    /* removing the default bullet points */
    
}

h4 {
    color: #D8B6FD;
    font-size: 18px;
    height:auto;
    font-weight:500;
    /* line-height: 1.6; */

}
#home {
    display:flex;
}

#home:hover {
    background:blue;
}

/* Page Top Section */
/* #page-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
}


#page-top p {
    color: #D8B6FD;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size:16px;
    max-width: 550px;
    padding: 0 60px; 
    margin-top: 30px;
}

.motto{
    max-width: 843px;
    width:58%;
    height:auto;
    display:block;
    margin-top: 80px;
} */
/*About section*/
/* #about{
    padding: 50px 20px;
    text-align:center;
}

.about-title{
    max-width: 500px;
    margin-bottom: 40px;
    width:35%;
    height:auto;
}

.about-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    gap: 30px;
    padding: 0 60px;
}

.about-text {
    flex: 1;
    color: #D8B6FD;
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}

.about-text h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.about-image-slideshow {
    max-width: 500px
    position
} */
/*for tablets*/
/* @media (max-width:900px){
    #page-top p{
        font-size: 10px;
        padding: 0 25px;
        
        margin-top: 15px;
    }
    .motto {
        margin-top: 40px;
    }
}
for phones
@media (max-width:600px){
    #page-top p{
        font-size: 8px;
        padding: 5px;
        margin-top: 10px;
    }
    .motto {
        margin-top: 30px;
    }
} */

